body {font-family: Arial, Helvetica, sans-serif;
        background-color: #353434;

}
* {box-sizing: border-box;

}

.box{
    border: 2px solid rgb(20, 20, 26) ;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-top: 9%;
    background-color: rgb(142, 139, 139);


}
h1{
    color: #2f391a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text], select, textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0d0e0e;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}

input[type=submit]:hover {
  background-color: #459ba0;
  
  transition: .4s;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=email], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }